<h1>Departments Index Page</h1>

<% @departments.each do |department| %>
  <div id="departments-<%= department.id %>">
    <p><%= department.name %> is located on floor number: <%= department.floor %></p>
    Employees: <% department.employees.each do |employee| %>
     <p> Name: <%= employee.name %> </p>
    <% end %>
  </div>
<% end %><br>
